@tailwind base;
@tailwind components;
@tailwind utilities;

.ringShadow {
  filter: drop-shadow(0px 3px 10px rgba(74, 101, 192, 0.3));
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #d4d8e6;
}
::-webkit-scrollbar-thumb {
  background-color: #1bc28f;
  width: 2px;
  border-radius: 2.5rem;
  border: transparent;
}

.custom-scroll::-webkit-scrollbar {
  width: 5px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #b6b6b6;
  border-radius: 10rem;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #b6b6b6;

  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  background-clip: padding-box;
}

@layer base {
  /* body {
    @apply pl-[13px] py-4;
  } */
  h1 {
    @apply text-[30px];
  }
  h2 {
    @apply text-[29px];
  }
  h3 {
    @apply text-[26px];
  }
  h4 {
    @apply text-[18px];
  }
  h5 {
    @apply text-[16px];
  }
  h6 {
    @apply text-[15px];
  }
  p {
    @apply text-[14px];
  }
}

.customShadow {
  box-shadow: 10px 0px 11px 0px rgba(192, 192, 192, 0.11);
  clip-path: inset(0px -15px 0px 0px);
}

/* Colors exported from Adobe XD  */
/* #007FFF
#F3CA4B
#1BC290
#AFAEAE
#39A86D
#B6B6B6
#FF0000
#888888
#838FDE
#ECECEC
#5669E8
#F1F1F3
#EEFAFC
#C8C8C8
#CCD9F1
#6B5CD1
#F1F1F1
#FFEBF6
#E4E4E4
#07AB64
#D3EFE0
#D98200
#FFEACB
#0B1023
#0C4AB9
#1F22C7
#C21A76
#EEF4FF
#FEF2FB
#FF6880
#B9B9B9
#B7B1E1
#3851A8
#CCCCCC
#000000
#FEFCFF
#079348
#575757
#B2B2BE
#4C5870
#141414
#EAEEF7
#F6F6F6
#FFFFFF
#D4D8E6 */
